<footer class="bg-gradient-light py-2 py-xl-3 mt-3 mt-md-4 mt-xl-5">
  <div class="container">
    <p class="text-muted small px-1">
      The <a href="https://github.com/ir-anthology/ir-anthology">IR-Anthology</a> was forked from the <a href="https://github.com/acl-org/acl-anthology/">ACL-Anthology</a>. 
    </p>
    <p class="text-muted small px-1">
      <span style="float:left;">
        <a href={{ relref . "/info/credits.md" }}>Credits</a>
      </span>
      <span style="float:right;">
        ©{{ dateFormat "2006" now }} <a href="https://webis.de/">Webis Group</a> • <a href="https://webis.de/people.html">Contact</a> • <a href="https://webis.de/impressum.html">Impressum / ToS / Privacy</a> • <a href="https://github.com/ir-anthology/ir-anthology">GitHub</a>
      </span>
    </p>
    <br>
  </div>
</footer>