{{/* 
  
  # This file has been modified by the Webis Group 
  # to fit the needs of the IR Anthology. 
  # The original is part of the ACL Anthology. 
  
*/}}
<nav class="navbar navbar-expand-sm navbar-light bg-light bg-gradient-light shadow-sm py-0 mb-3 mb-md-4 mb-xl-5">
  <div id="navbar-container" class="container" style="padding-top: 15px;padding-bottom: 15px;">
    <a class="navbar-brand" href=/anthology/>
      <span class="d-md-inline pl-md-2"><span style="color:#951515"><b>IR</b></span> Anthology</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!--
        <li class="nav-item">
          <a class="nav-link" href={{ relref . "/faq" }}>FAQ<span class="sr-only">(current)</span></a>
        </li>
        -->
      </ul>
      <form class="form-inline my-2 my-lg-0 input-group" action="https://ir.chatnoir.eu/?" method="get">
        <input id="acl-search-box" class="form-control mr-sm-2" name="q" type="search" placeholder="Search..." aria-label=Search>
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type=submit><i class="fas fa-search"></i></button>
        </div>
      </form>
    </div>
  </div>
</nav>
