{{/*

# This file has been modified by the Webis Group
# to fit the needs of the IR Anthology.
# The original is part of the ACL Anthology.

*/}}
{{ define "title" }}
Shared Tasks  ({{ .Params.year }})
{{end}}
{{ define "main" }}
<section id="main" class="col-12">
    <small><a href="/anthology">Main</a> » </small>
    <br>
    <h2 id="title">
        Shared Tasks ({{ .Params.year }})
    </h2>
    <hr/>
    <div id="content-panel" class="card bg-light mb-2 mb-lg-4">
        <div class="card-body">
            <h4 class="card-title">Content</h4>
            <ul class="list-pl-responsive">
                {{ range .Params.conferences }}
                <li>
                    <a class="align-middle" >{{ .label }}</a>
                    <br>
                    {{range .tasks }}
                    <ul>
                        <li><a class="align-right"  href="#{{.id}}">{{.label}}</a></li>
                    </ul>

                    {{end}}
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
    {{ range .Params.conferences }}
        {{ $conf := .label }}
        {{ range .tasks }}
        <div id="{{ .label }}">
            <small><a href="#" class="text-muted"><i class="fas fa-arrow-up"></i> up</a></small>
            <h3 class="d-sm-flex pb-2 border-bottom">
                {{ $label := .label }}
                {{ $url := .url }}
                {{ $task := printf "%s: %s" $conf $label }}
                <span class="d-block mr-2 list-button-row"></span>
                <a class=align-middle id="{{.id}}">{{ $task }}</a>
            </h3>
            {{ if (or (not (eq .archived_url "")) (le .Params.year 2020))}}
                {{ $url := .archived_url }}
            {{ else  }}
                {{ $url := .url }}
            {{ end }}
            {{ if (not (eq $url "")) }}
            <p class="d-sm-flex pb-2 border-bottom">
                <span class="d-block mr-2 list-button-row"></span>
                    <a class=align-middle href="{{ $url }}">Shared Task Website</a>
            </p>
            {{end}}
            {{ if (not (eq (len .overviewpapers) 0)) }}
            <p class="d-sm-flex pb-2 border-bottom">
                <span class="d-block mr-2 list-button-row"></span>
                  <b class=align-middle>Overview papers:</b>
            </p>
            {{end}}
            {{ range .overviewpapers }}
              {{ with index $.Site.Data.idmap . }}
                {{ $page := printf "/papers/%s/%s.md" (index (split . "-") 0) . }}
                {{ ($.Site.GetPage $page).Render "list-entry" }}
              {{ end }}
            {{ end }}
            {{ if (not (eq (len .overviewpapers) 0)) }}
                <hr/>
            {{ end }}
            {{ if (not (eq (len .participantpapers) 0))}}
                <p class="d-sm-flex pb-2 border-bottom">
                    <span class="d-block mr-2 list-button-row"></span>
                    <b class=align-middle>Participant papers:</b>
                </p>
            {{ end }}
            {{ range .participantpapers }}
                {{ with index $.Site.Data.idmap . }}
                  {{ $page := printf "/papers/%s/%s.md" (index (split . "-") 0) . }}
                  {{ ($.Site.GetPage $page).Render "list-entry" }}
                {{ end }}
            {{ end }}
        </div>
        {{ end }}
    {{ end }}
</section>
{{ end }}